In [1]:
# Questions

# Goal: Maximize financial inclusion for females to achieve gender equality through digital technology.

# 1. How has financial access developed over the years 2011- 2017?
# 2. How many adults lack a financial account in 2017? What is the distribution across gender and age?
# 3. How many females without an account have a mobile phone?
# 4. How many females without an account and a mobile phone have received payments (salaries) in cash?
# 5. How many females without an account pay their bills in cash?

In [2]:
# Libraries

In [3]:
 import sys
 print(sys.executable) 

# import the libraries via terminal

/usr/local/opt/python@3.9/bin/python3.9

In [15]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import earthpy as et

ModuleNotFoundError: No module named 'earthpy'

In [5]:
# import csv file
path = "/Users/user/Python/Python projects/FINDEX_CSV/FINDEXData.csv"

data = pd.read_csv(path)

In [6]:
# let's check the headers
data_top = data.head() 
data_top

,Country Name,Country Code,Indicator Name,Indicator Code,2011,2014,2017,Unnamed: 7
0,Central America (excluding high income),CAM,Account (% age 15+),account.t.d,NaN,NaN,NaN,NaN
1,Central America (excluding high income),CAM,"Account, female (% age 15+)",account.t.d.2,NaN,NaN,NaN,NaN
2,Central America (excluding high income),CAM,"Account, in labor force (% age 15+)",account.t.d.10,NaN,NaN,NaN,NaN
3,Central America (excluding high income),CAM,"Account, income, poorest 40% (% ages 15+)",account.t.d.7,NaN,NaN,NaN,NaN
4,Central America (excluding high income),CAM,"Account, income, richest 60% (% ages 15+)",account.t.d.8,NaN,NaN,NaN,NaN

In [7]:
# let's check the particulat columns
print(data_top['2011'].head(10))

# seems like many missing values

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 2011, dtype: float64

In [8]:
# dealing with missing values in our dataset

# a list with all missing value formats
missing_value_formats = ["n.a.","?","NA","n/a", "na", "--"]
data = pd.read_csv(path, na_values = missing_value_formats)

#print 2011 again
print(data['2011'].head(10))

# Total number of missing values per column
print(data.isnull().sum())

# .. quite many

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
Name: 2011, dtype: float64
Country Name           0
Country Code           0
Indicator Name         0
Indicator Code         0
2011              123142
2014               54774
2017               37407
Unnamed: 7        142008
dtype: int64

In [13]:
# Let's remove rows with missing values

# making new data frame with dropped NA values for the year indicators
new_data = data.dropna(subset=['2011', '2014', '2017'])
  
# comparing sizes of data frames
print("Old data frame length:", len(data), "\nNew data frame length:", 
       len(new_data), "\nNumber of rows with at least 1 NA value: ",
       (len(data)-len(new_data)))

Old data frame length: 142008
New data frame length: 13276
Number of rows with at least 1 NA value:  128732

In [11]:
print("Dataframe shape: ", new_data.shape)
dt = (new_dat.index[-1] - df.index[0])
print("Number of hours between start and end dates: ", dt.total_seconds()/3600 + 1)

Series([], Name: 2011, dtype: float64)